/* styles.css */

html,
body {
    height: 100%;
}

.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #f5f7fa;
}

h2 {
    margin: 0;
    color: #393D4F;
    font-size: 20px;
    font-weight: 700;
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
}

h5 {
    color: #81838C;
    font-size: 15px;
    font-weight: 400;
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
}

img {
    max-width: 20%;
}

@media screen and (max-width: 900px) {
    img {
        max-width: 40%;
    }
}

@media screen and (max-width: 500px) {
    img {
        max-width: 60%;
    }
}

a {
    text-decoration: none;
    color: #3464E0;
}

.pwd_logo {
    text-align: center;
    width: 100%;
}

.pwd_logo img {
    display: inline-block;
    vertical-align: middle;
    width: 110px;
    height: 110px;
}

.pwd_content {
    margin-top: 10px;
}

.pwd_box {
    font-size: 0;
    width: -moz-fit-content;
    width: -o-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    margin: 0 auto;
}

.pwd_input {
    display: block;
    width: 300px;
    height: 44px;
    font-size: 15px;
    color: #333;
    background-color: #FFF;
    border: 1px solid #E8E8E8;
    border-radius: 1px;
    padding: 2px 8px;
    margin: 0 auto;
}

.pwd_btn {
    display: block;
    width: 300px;
    height: 44px;
    font-size: 15px;
    color: #FFF;
    letter-spacing: 3px;
    background-color: #2f54eb;
    border-radius: 2px;
    cursor: pointer;
    margin: 30px auto 0;
}

body {
    font-family: Arial, sans-serif;
}

.warning-message {
    text-align: center;
    margin: 10% auto;
    max-width: 300px;
    background-color: #d7f8f7;
    border: 1px solid #c6cef5;
    padding: 10px;
    border-radius: 5px;
}

.warning-message p {
    color: #00cefc;
    font-weight: bold;
}

.copy-button {
    display: block;
    margin: 10px auto;
    padding: 12px 40px;
    font-size: 16px;
    background-color: #35d4dc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
